*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
   }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: black;
    color: white;
    padding: 15px 30px;
}

.logo{
display:flex;
align-items:center;
gap: 0px;
}

.logo img{
width:90px;
height:90px;
object-fit:contain;
border-radius: 50px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li{
    cursor: pointer;
}

.menu li:hover{
color:aqua;
}

.navbar input{
    padding:6px;
    border-radius:5px;
    border:none;
}

.productos{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
padding:30px;
background-color: rgba(0, 0, 0, 0.438);
justify-items:center;
}

.card1{
    color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
    flex-direction:column;
justify-content:center;
align-items:center;

}

.card1:hover{
    transform:scale(1.05);
    
}


.card1 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.card2{
     color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.card2:hover{
     transform:scale(1.05);
}

.card2 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.card3{
 color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
flex-direction:column;
justify-content:center;
align-items:center;   
}

.card3:hover{
     transform:scale(1.05);
}

.card3 img{
width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}


.card4{
    color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
flex-direction:column;
justify-content:center;
align-items:center;  
}

.card4:hover{
    transform: scale(1.05);
}

.card4 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.card5{
    color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
flex-direction:column;
justify-content:center;
align-items:center; 
}

.card5:hover{
    transform: scale(1.05);
}

.card5 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.card6{
   color:black;
    margin: 10px;
    padding: 20px;
    background-color: rgba(93, 102, 240, 0.452);
    border-radius: 15px;
    width:400px;
    height:400px;
    display:flex;
flex-direction:column;
justify-content:center;
align-items:center;  
}

.card6:hover{
    transform: scale(1.05);
}

.card6 img{
width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.footer{
background:black;
color:white;
text-align:center;
padding:20px;
margin-top:0px;
}

.precio1{
    font-weight: bold;
}

.precio2{
    font-weight: bold;
}


.precio3{
    font-weight: bold;
}


.precio4{
    font-weight: bold;
}


.precio5{
    font-weight: bold;
}


.precio6{
    font-weight: bold;
}