body{
    background-color: #f4f6f9;
    font-family: Arial;
}

/* Tarjetas personalizadas */
.producto-card{
    border-radius: 15px;
    transition: transform 0.3s;
}

.producto-card:hover{
    transform: scale(1.05);
}

/* Imágenes */
.card img{
    height: 200px;
    object-fit: cover;
}

/* Precio */
.precio{
    font-weight: bold;
    color: green;
}